.formArea{
    flex: 1;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 580px;
    display: flex;
    background-color: rgb(31, 31, 11);
    background-color: rgb(255, 255, 255);
    
}