.nav {
    /* background: linear-gradient(to bottom, hsl(0 0% 0% / .2), hsl(0 0% 0% /.08), transparent); */
    background: rgb(100, 29, 29);
    box-shadow: 0 30px 40px rgba(12, 6, 6, 0.22);
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 8px;
    gap: 7px;
    margin-bottom: 3rem;
}

.nav img {
    height: 60px;
    width: 60px;
}